[submodule "catkin_grpc"]
	path = catkin_grpc
	url = https://github.com/CogRob/catkin_grpc.git
[submodule "spot-sdk"]
	path = spot-sdk
	url = https://github.com/boston-dynamics/spot-sdk.git
[submodule "amrl_maps"]
	path = amrl_maps
	url = https://github.com/ut-amrl/amrl_maps.git
