<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="world" default="gazebo" />

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- start world -->
  <node name="$(arg world)" pkg="gazebo_ros" type="gzserver" args="$(find spot_gazebo)/worlds/spot_test.world" respawn="false" output="screen" launch-prefix="$(optenv OPTIRUN_LAUNCH_PREFIX)" />

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" launch-prefix="$(optenv OPTIRUN_LAUNCH_PREFIX)" />
  </group>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find spot_description)/urdf/spot.urdf -urdf -z 2 -model spot" />
</launch>
